[submodule "services/order-service"]
	path = services/order-service
	url = https://github.com/dist-ecom/order-service.git
[submodule "services/product-service"]
	path = services/product-service
	url = https://github.com/dist-ecom/product-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/dist-ecom/user-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/dist-ecom/dist-ecom-frontend
