[submodule "services/product-service"]
	path = services/product-service
	url = https://github.com/dist-ecom/product-service
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/dist-ecom/user-service
[submodule "services/order-service"]
	path = services/order-service
	url = https://github.com/dist-ecom/order-service
